[Unit]
Description=labrad manager
After=syslog.target

[Service]
Type=simple
User=srgang
Group=srgang
WorkingDirectory=/home/srgang/labrad
ExecStart=/home/srgang/labrad/bin/labrad --tls-required=false --password=$LABRADPASSWORD
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

